@media screen and (max-width: 350px) {
    .registration__title{
        font-size: 15px;
    }
    .success-message{
        padding: 50px 20px;
        &__text{
            font-size: 10px;
        }
    }
}