@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

// @import './libs/bootstrap-reboot.min';

// base files
@import 'base/variables.scss';
@import 'base/mixins.scss';
//

* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    transition: 1s all;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
// blocks
@import "blocks/reg.scss";
@import "blocks/validation-alert.scss";

// media files
@import "base/media";
//